body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(128, 129, 134);
}

h1{
    color: beige;
}
form{
    background-color: rgba(255, 176, 29, 0.568);
    text-align: center;
    max-width:350px;
    margin: auto;
    padding: 25px;
    border-radius: 50px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

#textBox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid rgb(253, 115, 3);
    border-radius: 14px;
    margin-bottom: 15px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}

button{
    margin-top: 15px;
    background-color: rgb(185, 162, 56);
    color: rgb(0, 247, 255);
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(128, 94, 62);
}

#result{
    font-size: 1.75em;
    font-weight: bold;
}
